[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
colorama = { sys_platform = "== 'win32'" }
jsonpath-ng = "*"
keyring = "*"
matplotlib = "*"
mysqlclient = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
pefile = { sys_platform = "== 'win32'" }
pyinstaller = "*"
pyvisa = "*"
pywin32 = { sys_platform = "== 'win32'" }
pywin32-ctypes = { sys_platform = "== 'win32'" }
pyyaml = "*"
scipy = "*"
sentry-sdk = "*"
sqlalchemy = "*"
yoctopuce = "*"
pyvisa-py = "*"
gpib-ctypes = { sys_platform = "== 'win32'" }

[dev-packages]
alembic = "*"
pytest = "*"
pytest-alembic = "*"
pyvisa-sim = "*"
pylint = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"
