[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
colorama = { version = "*", markers="sys_platform == 'win32'" }
jsonpath-ng = "*"
keyring = "*"
matplotlib = "*"
mysqlclient = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
pefile = { version = "*", markers="sys_platform == 'win32'" }
pyinstaller = "*"
pyvisa = "*"
pywin32 = { version = "*", markers="sys_platform == 'win32'" }
pywin32-ctypes = { version = "*", markers="sys_platform == 'win32'" }
pyyaml = "*"
sentry-sdk = "*"
sqlalchemy = "*"
yoctopuce = "*"
pyvisa-py = "*"
gpib-ctypes = { version = "*", markers="sys_platform == 'win32'" }

[dev-packages]
alembic = "*"
pytest = "*"
pytest-alembic = "*"
pyvisa-sim = "*"
pylint = "*"
flake8 = "*"
black = "*"
typeguard = "*"

[requires]
python_version = "3.12.2"
